<h2 style="font-size: 14px;">
  <em style="font-weight: lighter;">
  Help coming...
  </em>
</h2>
  <p>
    Hey, {{ name }}, this your question in <em style="color:thistle">{{ question_create }}:</em>
     <blockquote> <strong>{{question}} </blockquote></strong>
  </p>
  <br/>
  <p>
    Our feedback : <strong>{{ answer }}</strong>
    In date: <em style="color:thistle">{{ date }}</em>
  </p>
  <p>
    <br/>
  <small style="
   margin: 0 auto;
   text-align: center;
   font-size: 14px;
   color: #e75656ef;">
    If you still need help, just email us.
    It will always be a pleasure to assist.
  </small>
</p>
