<h3 style=
"font-style: italic;
 font-size: 15px;
 color: #e75656ef
">
   Hey {{ name }}, congratulations!
</h3>
<p>
  You are now an official Gympoint student,
  your enrollment has been successfully
  completed.
</p>
<h4 style="color: #999">
  This is the information of your new journey:
</h4>
<ul style="list-style: none; align: center; font-size: 14px">
   <li style="color: springgreen; font-weight: 500">Plan: {{ plan_title }}</li>
   <li style="color: springgreen; font-weight: 500">Plan duration: {{ plan_duration }} month(s)</li>
   <li style="color: springgreen; font-weight: 500">Date start: {{ start_date }}</li>
   <li style="color: springgreen; font-weight: 500">Date End: {{ end_date }}</li>
   <li style="color: springgreen; font-weight: 500">Price: R$ {{ price }}, 00</li>
</ul>
<p style="
   margin: 0 auto;
   text-align: center;">
    Your journey is set.
</p>
